{{# each primaryTeaserCategories }}
    {{this}}
    {{data.categories}}
    {{#ifeq this 'world-news'}}
      <h3>{{data.category.name}}</h3>
      {{>mainTeaser}}
    {{else}}
    {{/ifeq}}
{{/each}}
