<div class="thumbnail col-md-12 col-sm-12">
    <img src="/images/nycdeptsmall.png" class="img-responsive" alt="NYC Dept"/>
    <img src="/images/tallvodka.png" class="img-responsive" alt="Vodka"/>
</div>
