<div class="thumbnail col-md-12 col-sm-12">
    <img src="/images/nycdeptsmall.png" width="100%" class="img-responsive" alt="NYC Dept"/>
</div>
<div class="thumbnail col-md-12 col-sm-12">
    <img src="/images/tallvodka.png" width="100%" class="img-responsive" alt="Vodka"/>
</div>
