<div class="row">
  <h4>#tennis on Twitter</h4>
</div>
<div class="row">
  <div class="arktan-socialstream thumbnail" style="max-height:1100px;overflow:scroll">
    <div id="arktan-stream"></div>
  </div>
</div>
<script type="text/javascript" src="http://cdn.arktan.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://cdn.arktan.com/ark-woj-min.js"></script>
<script type="text/javascript">
var ArktanSocialStreamsConfig = {
"source":{
"name": "Arktan.com",
"uri": "http://www.arktan.com"
},
"janrainAppName": "janrain-se-demo",
"busName": "se-demo",
"appkey": "dev.janrain",
"identityUrl": "https://janrain-se-demo.rpxnow.com/openid/embed?flags=stay_in_window,no_immediate&token_url=http%3A%2F%2Fsandbox.arktan.com%2Farkjs%2Fwaiting.html&bp_channel=",
"visualization":{
"vizname":"default"
},
"apps": [
{
"type":"stream",
"streamTarget":"arktan-stream",
"id": "all",
"streamID": "http://www.janrain.com/solutions/id_Veritas_News_Serena_Williams"
}
]};
$(document).ready(function(){
Arktan.SocialApps.install(ArktanSocialStreamsConfig);
$('.echo-item-content').addClass('well');
});
</script>

